html, body {
    height: 100%;
}

body {
    background-color: #F6F6F6;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: calc(100% - 88px);
}

#main-left {
    background-color: white;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#main-left .collapsible-body {
    height: 100%;
    width: 100%;
}

#main-left #jstree {
    /* overflow-x: auto; */
    width: 100%;
}

#main fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.logo-telosys-min {
    display: inline-block;
    background: url("images/telosys-logo-min.svg");
    background-repeat: no-repeat;
    width: 64px;
    height: 50px;
    overflow: visible;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 3px #d4d4d4;
    background-color: #fff;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    /*background-image: url('lib/split/grips/vertical.png');*/
}

.gutter.gutter-vertical {
    cursor: row-resize;
    /*background-image: url('lib/split/grips/horizontal.png');*/
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

ul ul, ul ol, ol ol, ol ul {
    font-size: 100%;
}

.fa-lg {
    vertical-align: -8%;
}

.fa-2x {
    vertical-align: -15%;
}

html .mdi {
    line-height: inherit;
}

.input-field .prefix ~ label {
    height: 18px;
}

input[type=text] + label:after,
input[type=password] + label:after,
input[type=email] + label:after,
input[type=url] + label:after,
input[type=time] + label:after,
input[type=date] + label:after,
input[type=datetime-local] + label:after,
input[type=tel] + label:after,
input[type=number] + label:after,
input[type=search] + label:after,
textarea.materialize-textarea + label:after {
    position: relative;
    top: 22px;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    /*border-top: 1px solid lightgray;*/
    background-color: #fefefe;
    text-align: center;
    margin: 0;
    padding: 0px 10px 0 10px;
    line-height: 24px;
}

footer i {
    line-height: 24px;
    font: 24px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

