<div>
    <div class="col s12">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': displayTab=='folders'}"
                ng-click="onClickTab('folders')">
                <a href>Folders</a>
            </li>
            <li ng-class="{'active': displayTab=='packages'}"
                ng-click="onClickTab('packages')">
                <a href>Packages</a>
            </li>
            <li ng-class="{'active': displayTab=='variables'}"
                ng-click="onClickTab('variables')">
                <a href>Variables</a>
            </li>
        </ul>
    </div>
    <div ng-if="displayTab=='folders'" id="folderTab" class="col s12">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <label for="source" class="col-md-1">Sources ${SRC} :</label>
                    <input id="source" class="col-md-1" ng-model="data.variables.SRC">
                </div>
            </div>

            <div class="form-group">
                <label for="resources">Resources ${RES} :</label>
                <input id="resources" ng-model="data.variables.RES">
            </div>
            <div class="form-group">
                <label for="web-content">Web content ${WEB} :</label>
                <input id="web-content" ng-model="data.variables.WEB">
            </div>
            <div class="form-group">
                <label for="test-sources">Tests sources ${TEST_SRC} :</label>
                <input id="test-sources" ng-model="data.variables.TEST_SRC">
            </div>
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <label class="col-sm-1" for="test-resources">Tests resources ${TEST_RES} :</label>
                        <input class="col-md-4" id="test-resources" ng-model="data.variables.TEST_RES">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="documentation">Documentation ${DOC} :</label>
                <input id="documentation" ng-model="data.variables.DOC">
            </div>
            <div class="form-group">
                <label for="temporary-files">Temporay files ${TMP} :</label>
                <input id="temporary-files" ng-model="data.variables.TMP">
            </div>
        </div>

    </div>
    <div ng-if="displayTab=='packages'" id="packagesTab" class="col s12">
        <div class="modal-body">
            <div class="form-group">
                <label for="root-pkg">Root package ${ROOT_PKG} :</label>
                <input id="root-pkg" ng-model="data.variables.ROOT_PKG">
            </div>
            <div class="form-group">
                <label for="entity-pkg">Entity classes package ${ENTITY_PKG} :</label>
                <input id="entity-pkg" ng-model="data.variables.ENTITY_PKG">
            </div>
        </div>
    </div>
    <div ng-if="displayTab=='variables'" id="variablesTab" class="col s12">
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{active: selectedVariable==key}" ng-repeat="key in data.variables.specificVariablesKeys"
                    ng-click="selectVariable(key)">
                    <td>{{key}}</td>
                    <td>{{data.variables.specificVariables[key]}}</td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-info" type="button" ng-click="addVariable()">Add</button>
            <button class="btn btn-info" type="button" ng-click="deleteVariable()">Delete</button>
        </div>
    </div>
    <button class="btn btn-success" style="float: right" ng-click="saveConfig()">
        <span class="fa fa-floppy-o fa-lg"></span> &nbsp;Save
    </button>
</div>