<div class="collapsible-header active">
    <i class="mdi mdi-camera-timer"></i>
    Open editors
    <div style="float:right">
        <a href ng-click="$event.stopPropagation(); events.saveAll(data);"><i
                class="fa fa-floppy-o"></i></a>
        <a href ng-click="$event.stopPropagation(); events.closeAll(data);"><i
                class="fa fa-times"></i></a>
    </div>
</div>
<div class="workingfiles" style="border: none;">
    <ul class="collection">
        <li ng-repeat="file in data.workingFiles" class="collection-item"
            ng-class="{'working-file-selected': file.id == data.selectedFile.id}"
            ng-click="onClickFile(data, file)">
            <a href ng-click="events.onCloseFile(data, file.id); $event.stopPropagation()">
                <i ng-if="!file.isModified" class="fa fa-times fa-lg delete"></i>
            </a>
            <i ng-if="file.isModified" class="fa fa-circle" style="padding-right: 15px"></i>
            <a href>{{file.name}} <span style="font-size: smaller; color: gray;">{{file.path}}</span></a>
        </li>
        <li ng-if="data.openFile!=null && data.workingFiles[data.openFile.id]==null"
            class="collection-item collection-item-opened"
            ng-class="{'working-file-selected': data.openFile.id == data.selectedFile.id}"
            ng-click="onClickFile(data.openFile)">
            <a href ng-if="!data.openFile.isModified"
               ng-click="$event.stopPropagation(); events.onCloseFile(data, data.openFile.id);">
                <i class="fa fa-times fa-lg delete"></i>
            </a>
            <i ng-if="data.openFile.isModified" class="fa fa-circle" style="padding-right: 15px"></i>

            <a href><i>{{data.openFile.name}} <span
                    style="font-size: smaller; color: gray;">{{data.openFile.path}}</span></i></a>
        </li>
    </ul>
</div>
