<h3 ng-if="data.name=='models'"><span class="fa fa-cubes"></span> &nbsp;Models</h3>
<h3 ng-if="data.name=='bundles'"><span class="fa fa-archive"></span> &nbsp;Bundles</h3>
<!--
<div class="generationTitle">
    <label for="repeatSelect" ng-if="data.name=='bundles'"> Bundles:&nbsp;</label>
    <label for="repeatSelect" ng-if="data.name=='models'"> Models:&nbsp;</label>
    <a href ng-click="selectAll()"><i class="fa fa-check-square-o"></i></a>
    <a href ng-click="deselectAll()"><i class="fa fa-square-o"></i></a>&nbsp;
    <select name="repeatSelect" id="repeatSelect" ng-options="element.text for element in data.tree"
            ng-model="selectedElement" ng-change="changeSelectedElement()">
    </select>&nbsp;
    <a href ng-if="data.name=='bundles'" ng-click="goToBundleConfiguration()"><i
            class="fa fa-external-link"></i></a>
</div>
<div class="col s6" ng-if="data.name=='models'">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Entity class name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in selectedModel.entities">
                <td><input type="checkbox" ng-model="entity.selected"
                           ng-change="onSelect(entity)"/></td>
                <td>{{entity.text}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col s6" ng-if="data.name=='bundles'">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Target</th>
                <th>Template</th>
                <th></th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="template in data.templatesForGeneration">
                <td class="col-md-1"><input type="checkbox" ng-model="template.selected"
                                            ng-change="onSelect(template)"/></td>
                <td>{{template.description}}</td>
                <td>{{template.name}}</td>
                <td><a href ng-click="goToFile(template.absoluteFilePath)"><i
                        class="fa fa-external-link"></i></a></td>
                <td><i class="fa fa-asterisk" ng-if="!template.once"></i>
                    <i ng-if="template.once">1</i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
-->