<div>
    <div class="col s12">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': displayTab == 'model'}"
                ng-click="onClickTab('model')"><a href>Models<span id="consoleModelTitleStatus"></span></a></li>
            <li ng-class="{'active': displayTab == 'generation'}"
                ng-click="onClickTab('generation')"><a href>Generations<span
                    id="consoleGenerationTitleStatus"></span></a></li>
        </ul>
    </div>
    <div ng-if="displayTab=='model'" id="consoleModel" class="col s12"></div>
    <div ng-if="displayTab == 'generation'" id="consoleGeneration" class="col s12">
        <ul ng-if="hasError">
            <li ng-repeat="error in errors">
                <tr>
                    <td class="center-align" style="padding:0; font-size: 22px; line-height: 22px"><span
                            class="mdi mdi-alert-circle fa-2x"></span></td>
                    <td ng-click="events.onClickFile(error.templateFileId)"><a href>{{error.templateName}}</a></td>
                    <td ng-click="events.onClickFile(error.templateFileId)"><a href>Line {{error.numLine}}</a></td>
                    <td ng-click="events.onClickFile(error.entityFileId)"><a href>{{error.entityName}}</a>
                    </td>
                    <td>{{error.message}}</td>
                </tr>
            </li>
        </ul>
        <div ng-if="!hasError && hasError != null">
            <tr>
                <td>{{result.numberOfFilesGenerated}} file(s) generated.</td> <br><br>
                <td>{{result.numberOfGenerationErrors}} generation error(s).</td> <br><br>
                <td>{{result.numberOfResourcesCopied}}  resources(s) copied.</td> <br><br>
            <tr>
        </div>
    </div>
</div>