<div class="row">
    <h2>Configuration</h2>
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': displayTab=='folders'}"
                ng-click="onClickTab('folders')">
                <a href>Folders</a>
            </li>
            <li ng-class="{'active': displayTab=='packages'}"
                ng-click="onClickTab('packages')">
                <a href>Packages</a>
            </li>
            <li ng-class="{'active': displayTab=='variables'}"
                ng-click="onClickTab('variables')">
                <a href>Variables</a>
            </li>
        </ul>
    </div>
    <div ng-if="displayTab=='folders'" id="folderTab" class="col-sm-12">
        <div class="col-sm-6" style="margin: 15px">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="source" class="col-sm-3 control-label">Sources ${SRC}</label>
                    <div class="col-sm-9">
                        <input id="source" class="form-control" ng-model="data.variables.SRC">
                    </div>
                </div>
                <div class="form-group">
                    <label for="resources" class="col-sm-3 control-label">Resources ${RES}</label>
                    <div class="col-sm-9">
                        <input id="resources" class="form-control" ng-model="data.variables.RES">
                    </div>
                </div>
                <div class="form-group">
                    <label for="web-content" class="col-sm-3 control-label">Web content ${WEB}</label>
                    <div class="col-sm-9">
                        <input id="web-content" class="form-control" ng-model="data.variables.WEB">
                    </div>
                </div>
                <div class="form-group">
                    <label for="test-sources" class="col-sm-3 control-label">Tests sources ${TEST_SRC}</label>
                    <div class="col-sm-9">
                        <input id="test-sources" class="form-control" ng-model="data.variables.TEST_SRC">
                    </div>
                </div>
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row">
                            <label for="test-resources" class="col-sm-3 control-label">Tests resources
                                ${TEST_RES}</label>
                            <div class="col-sm-9">
                                <input id="test-resources" class="form-control" ng-model="data.variables.TEST_RES">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="documentation" class="col-sm-3 control-label">Documentation ${DOC}</label>
                    <div class="col-sm-9">
                        <input id="documentation" class="form-control" ng-model="data.variables.DOC">
                    </div>
                </div>
                <div class="form-group">
                    <label for="temporary-files" class="col-sm-3 control-label">Temporay files ${TMP}</label>
                    <div class="col-sm-9">
                        <input id="temporary-files" class="form-control" ng-model="data.variables.TMP">
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div ng-if="displayTab=='packages'" id="packagesTab" class="col-sm-12">
        <div class="col-sm-8" style="margin: 15px">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="root-pkg" class="col-sm-3 control-label">Root package ${ROOT_PKG}</label>
                    <div class="col-sm-6">
                        <input id="root-pkg" class="form-control" ng-model="data.variables.ROOT_PKG">
                    </div>
                </div>
                <div class="form-group">
                    <label for="entity-pkg" class="col-sm-3 control-label">Entity classes package ${ENTITY_PKG}</label>
                    <div class="col-sm-6">
                        <input id="entity-pkg" class="form-control" ng-model="data.variables.ENTITY_PKG">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-if="displayTab=='variables'" id="variablesTab" class="col s12">
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{active: selectedVariable==key}" ng-repeat="key in data.variables.specificVariablesKeys"
                    ng-click="selectVariable(key)">
                    <td><input type="text" ng-model="key" class="form-control"/></td>
                    <td><input type="text" ng-model="data.variables.specificVariables[key]" class="form-control"/></td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-info" type="button" ng-click="addVariable()">Add</button>
            <button class="btn btn-info" type="button" ng-click="deleteVariable()">Delete</button>
        </div>
    </div>
    <button class="btn btn-success" style="float: right" ng-click="saveConfig()">
        <span class="fa fa-floppy-o fa-lg"></span> &nbsp;Save
    </button>
    </div>
</div>