<div class="generationTitle" xmlns="http://www.w3.org/1999/html">
    <label for="repeatSelect" ng-if="data.name=='bundles'"> Bundles:&nbsp;</label>
    <a href ng-click="selectAll()"><i class="fa fa-check-square-o"></i></a>
    <a href ng-click="deselectAll()"><i class="fa fa-square-o"></i></a>&nbsp;
    <select name="repeatSelect" id="repeatSelect">
        <option></option>
        <option ng-repeat="element in data.tree" ng-model="element.id" ng-click="changeSelectedElement(element)">
            {{element.text}}
        </option>
    </select>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Target</th>
            <th>Template</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="template in data.templatesForGeneration">
            <td class=".col-md-1"><input type="checkbox" ng-model="template.isSelected"/></td>
            <td class=".col-md-3">{{template.description}}</td>
            <td class=".col-md-3">{{template.name}}</td>
            <td class=".col-md-1"><a href ng-click="goToFile(template.absoluteFilePath)"><i class="fa fa-external-link"></i></a></td>
            <td class=".col-md-1"><i class="fa fa-asterisk" ng-if="template.type"></i>
                <i ng-if="!template.type">1</i></td>
        </tr>
        </tbody>
    </table>
</div>