<div class="collapsible-header active">
    <i class="mdi mdi-library-books"></i>
    {{data.name}}
    <div style="float:right">
        <a href ng-click="$event.stopPropagation(); createFile();"><i class="fa fa-file-o"></i></a>
        <a href ng-click="$event.stopPropagation(); createFolder();"><i class="fa fa-folder-o"></i></a>
        <a href ng-click="$event.stopPropagation(); deleteSelectedElement();"><i
                class="fa fa-trash-o"></i></a>
        <a href ng-click="$event.stopPropagation(); refreshAll();"><i class="fa fa-refresh"></i></a>
        <a href ng-click="$event.stopPropagation(); collapseAll();"><i class="fa fa-minus"></i></a>
    </div>
</div>
<div></div>
