<div>
    <div class="col s12">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': displayTab == 'model'}"
                ng-click="onClickTab('model')"><a href>Models<span id="consoleModelTitleStatus"></span></a></li>
            <li ng-class="{'active': displayTab == 'generation'}"
                ng-click="onClickTab('generation')"><a href>Generations<span
                    id="consoleGenerationTitleStatus"></span></a></li>
        </ul>
    </div>
    <div ng-if="displayTab=='model'" id="consoleModel" class="col s12"></div>
    <div ng-if="displayTab == 'generation'" id="consoleGeneration" class="col s12">
        <ul ng-if="hasError">
            <li ng-repeat="error in errors">
                <ul>
                    <li ng-click="events.onClickFile(error.templateFileId)"><a href>{{error.templateName}}</a></li>
                    <li ng-click="events.onClickFile(error.templateFileId)"><a href>{{error.templateName}}</a></li>
                    <li ng-click="events.onClickFile(error.entityFileId)"><a href>{{error.entityName}}</a></li>
                    <li>{{error.message}}</li>
                </ul>
            </li>
        </ul>
        <div ng-if="!hasError && hasError != null">
            <ul>
                <li class="resultGeneration">{{result.numberOfFilesGenerated}} file(s) generated.</li>
                <li class="resultGeneration">{{result.numberOfGenerationErrors}} generation error(s).</li>
                <li class="resultGeneration">{{result.numberOfResourcesCopied}}  resources(s) copied.</li>
            </ul>
        </div>
    </div>
</div>