<div class="collapsible-header active">
    <i class="mdi mdi-library-books"></i>
    Project
    <a href ng-click="collapseAll(); $event.stopPropagation()" style="float:right"><i class="fa fa-minus"></i></a>
    <a href ng-click="refreshAll(); $event.stopPropagation()" style="float:right"><i class="fa fa-refresh"></i></a>
    <a href ng-click="deleteSelectedElement(); $event.stopPropagation()" style="float:right"><i
            class="fa fa-trash-o"></i></a>
    <a href ng-click="createFolder(); $event.stopPropagation()" style="float:right"><i class="fa fa-folder-o"></i></a>
    <a href ng-click="createFile(); $event.stopPropagation()" style="float:right"><i class="fa fa-file-o"></i></a>
</div>
<div></div>
