<div id="editorToolbar" class="editorToolbar">
    <div>
        <button class="waves-effect waves-green btn" ng-click="saveFile()">
            <span class="fa fa-floppy-o fa-lg"></span> Save
        </button>
        &nbsp;
        <i ng-if="data.selectedFile.isModified" class="fa fa-circle"></i>
        <span style="font-size: smaller; color: gray;"> {{data.selectedFile.name}}</span>
        <a href style="float:right" ng-click="closeFile()"><i
                class="fa fa-times fa-2x"></i></a>
        <a href style="float:right" ng-click="refreshFile()"><i
                class="fa fa-refresh fa-2x"></i> </a>
    </div>
</div>
<div id="editorCodemirror" class="editorCodemirror"></div>
