html {
    font-size: 13px;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

input, textarea, select, fieldset {
    margin-bottom: 0;
}

#toolbar, #ide {
    width: 100%;
    height: 100%;
}

#toolbarProjects a {
    font: 20px;
}

.toolbar {
    padding: 5px 10px;
}

.treeview {
    width: 100%;
    height: 100%;
    overflow-y: visible;
    overflow-x: visible;
}

html .CodeMirror {
    height: 100%;
}

html .jstree-container-ul, html .jstree-node {
    width: 100%;
    height: 100%;
}

.editorToolbar {
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #f0f0f0;
    padding: 2px 4px;
    height: 36px;
}

.editorToolbar button {
    margin-bottom: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.editorCodemirror {
    height: calc(100% - 36px);
}

.editorTabContent {
    height: 100%;
}

html .vakata-context li>a {
    line-height: 1.5em;
}

html .vakata-context li>a>i:empty, html .vakata-context li>a>i, html .vakata-context li>a, html .vakata-context li>a, html .vakata-context li>a .vakata-contextmenu-sep {
    height: 1.5em;
}

html .vakata-context li>a>i:empty {
    width: 1.5em;
}

.buttons {
    text-align: right;
}

#workingfiles .collection .collection-item {
    line-height: 0.3em;
    padding: 5px 5px;
}

#workingfiles .collection .collection-item a {
    color: black;
}

#workingfiles .collection .collection-item a i {
    visibility: hidden;
    color: #039be5;
}

#workingfiles .collection .collection-item:hover a i {
    visibility: visible;
}

#left .collapsible-header {
    border-top: 1px solid lightgray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    min-height: 2em;
    line-height: 2em;
    padding: 0;
}

#left .collapsible-header i {
    font-size: 1.4em;
    line-height: 1.4em;
    margin-right: 0.3em;
}

.editorCodemirror > div {
    height: 100%;
}

#workingfiles .working-file-selected {
    background-color: #D7EFFF;
}

#consoleGeneration, #consoleGeneration table td {
    padding: 0;
    margin: 0;
}

.generation-error-title {
    font-size: 18px;
}

.generation-success-title {
    font-size: 18px;
}

#console .tabs {
    height: 30px;
    margin-bottom: 1px;
}

#console .tabs .tab {
    line-height: 30px;
}

#console .tabs .indicator {
    background-color: #039be5;
}

#console .tabs .tab a {
    color: #039be5;
}

#console table tr td, #console table tr th {
    border: 1px solid lightgray;
    padding: 5px;
}

table.simple tr td, table.simple tr th {
    border: 1px solid lightgray;
    padding: 5px;
}

.inline-block {
    display: inline-block;
};
};
};
}