html, body {
    height: 100%;
}

html div, html ul {
    margin: 0;
    padding: 0
}

.alert-danger {
    background-color: #fff5f5;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 15px;
    margin-bottom: 8px;
}

div.checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

#main {
    width: 100%;
    height: 100%;
    height: calc(100% - 75px);
    position: relative;
}

/*
.navbar {
    background-color: #0277bd;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #c9ebff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #c9ebff;
    border-color: black;
}
*/

.navbar-nav > li {
    z-index: 3;
}

#idemaintoolbar {
    position: relative;
    z-index: 2;
    height: 29px;
    background-color: #f1f1f1;
    border-bottom: 1px solid lightgrey;
}

#idemaintoolbar .navbar-nav > li > a {
    padding: 4px;
}

.logo-telosys-min {
    display: inline-block;
    background: url("../images/telosys-logo-min.svg");
    background-repeat: no-repeat;
    width: 64px;
    height: 50px;
    overflow: visible;
}

.navbar {
    margin: 0;
}

.collapsible-header {
    border-bottom: 1px solid lightgrey;
    line-height: 30px;
    font-size: 18px;
    padding: 0 5px;
}

.collapsible-header a {
    font-size: 20px;
    line-height: 30px;
    padding: 0 5px;
}

.collection {

}

.collection .collection-item {
    font-size: 15px;
    line-height: 20px;
    padding: 2px 10px;
    border-bottom: 1px solid lightgrey;
    background-color: #fff;
}

.collection .collection-item:hover {
    background-color: #edf4ff;
    cursor: pointer;
}

.workingfiles .collection .collection-item a .delete {
    visibility: hidden;
    color: #039be5;
}

.workingfiles .collection .collection-item:hover a .delete {
    visibility: visible;
}

.collection .working-file-selected {
    background-color: #edf4ff;
}

.collection .working-file-selected a {
    color: black;
    text-decoration: none;
}

.collection-item-opened.ng-enter {
    transition: 0.25s linear all;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    border-bottom: 0;
}

#left {
    position: absolute;
    left: 0;
    width: calc(25% - 10px);
    top: 0;
    bottom: 0;
    border-right: 1px solid lightgrey;
}

#editorCodemirror {
    height: calc(100% - 75px);
}

.codemirror {
    height: 100%;
}

.CodeMirror {
    height: 100%;
}

.content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.navbar {
    z-index: 2;
    border-bottom: 1px solid lightgrey;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 2px;
    background-color: #fafafa;
}

.editorToolbar {
    padding: 2px 5px;
    border-bottom: 1px solid lightgrey;
    background-color: #f7f7f7;
    color: #333333;
}

.dashboard {
    background-color: #fbfbfb;
    height: 100%;
}

.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    width: 95%;
}

.card:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.card-content {
    width: 100%;
    min-height: 125px;
    border-bottom: 1px solid #efefef;
    padding: 20px;
}

.card-content .card-title {
    font-size: 25px;
    color: #555;
}

.card-action {
    width: 100%;
    text-align: right;
    height: 50px;
    padding: 15px 20px;
    font-size: 16px;
}

.dashboard .action {
    font-size: 16px;
}

.animate.ng-animate {
    transition: 0s;
}

#workingfiles .working-file-selected {
    background-color: #D7EFFF;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-color: #ccc;
    border-bottom-color: transparent;
    cursor: pointer;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
    color: #555;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    min-width: 50px;
    text-align: center;
}

.nav-tabs > li > a:hover {
    background-color: #edf4ff;
}

.nav-tabs > li > a {
    margin: 3px 0 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.bundlemodal {
    list-style-type: none;
}

.right {
    float: right;
}

.badge {
    background-color: grey;
}

.btn-red {
    color: white;
    background-color: #F44336;
}

.modal-dialog .modal-title {
    padding: 10px 15px 10px 15px;
}

.modal-dialog .modal-header {
    padding: 0;
}

.modal-dialog .modal-header h4 {
    margin-top: 20px;
}

.modal-dialog .bundlemodal {
    width: 100%;
    display: inline-block;
    padding: 2px;
    line-height: 34px;

}

.modal-dialog .bundlemodal:hover {
    background-color: #f3f3f3;
}

.modal-dialog .bundlemodal i.fa {
    padding: 10px;
}

.modal-dialog .modal-body h3 {
    margin-top: -10px;
}

.modal-dialog .bundles-list {
    max-height: 300px;
    overflow-y: auto;
}

.generationTitle {
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}

.generation ul > li {
    list-style: none;
    margin: 0;
}

.generation ul > li input {
    margin-top: 5px;
    cursor: pointer;
}

.generation ul > li label {
    line-height: 25px;
    cursor: pointer;
    margin: -4px 0 0 0;
}

.resultGeneration{
    padding: 10px;
}

.table-hover{
    cursor: pointer;
}

.layout {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #efefef;
    display: block;
}


.tab-content > h3 {
    margin-left: 5px;
}

.configuration {
    display: block;
    height: 100%;
    padding: 20px;
}

.generation{
    padding : 15px 15px 0px 10px;
}

.configuration > div {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}

.configuration > div > h2, .generation > div > h2 {
    margin: 0 0 20px 0;
    padding: 0;
}

.generation h3 {
    margin-top: 0;
}

.control-label-thin {
    font-weight: normal;
    color: #6b6b6b;
}

.generation-selection {
    margin-top: 10px;
    background-color: #efefef;
    height: 450px;
    overflow-y: auto;
    border: 1px solid #cecece;
    padding-left: 10px;
    padding-right: 10px;
}

.generation-selection-line {
    margin: 3px 3px;
    border: 0px solid #dedede;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.generation-selection-line:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.13);
}

.generation-selection-line-selected {
    background-color: rgba(238, 250, 252, 1);
}

.card-generation{
    cursor: pointer;
}

/*
.console-error {
    margin-top: 10px;
    background-color: rgb(218, 200, 200);
    max-height: 450px;
    overflow-y: auto;
    border: 1px solid #e2bdbd;
    padding-left: 10px;
    padding-right: 10px;
}
*/

.console-error {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    max-height: 160px;
    overflow-y: auto;
}

.console-error-line {
    margin: 14px 3px;
    border: 0px solid #dedede;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    padding: 10px 15px;
}

.console-error-line pre {
    background-color: rgba(255, 255, 255, 0.55);
    font-size: 14px;
    color: #a94442;
    border: 1px solid #ffeeee;
    padding: 5px 15px;
    margin: 5px 0 0 0;
}

.console-error-line a {
    color: #a94442;
    text-decoration: underline;
}

.console-btn{
    margin: 2px 5px;
}

.configuration-checkbox{
    padding-left: 30px;
}