<div class="modal-content">
    <form class="form-horizontal">
        <div class="modal-header">
            <h3 class="modal-title">Create a file</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="alert alert-danger" ng-if="errorMessage">
                        {{errorMessage}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="file-name" class="col-sm-3 control-label">File name :</label>
                <div class="col-sm-9">
                    <input id="file-name" ng-model="fileName" class="form-control" autofocus>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-disabled="fileName==''" ng-click="createFile()">Create
                file
            </button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>